<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DVDStore about-us</title>
    </head>
    <body>
        <!-- span th:text="${#locale.country}"></span -->
        <p>
            We started Invoise to change the game for small business. Our beatifull cloud-based accounting software connects people with the right numbers anytime, anywhere, on any device.
            For accountants and bookkeepers, Invoise helps buils a trusted realtionship with small busniess clients throught online collaboration.
            We're proud to helping over 2 million+subscribers worldwide transform the way the do business. And we're just getting started
        </p>
    </body>
</html>